form{
	margin-left: 10%;
	margin-right: 10%;
	padding: 5%;
}

#here_table{
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%;
}

.standard-spacing{
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%;
}