{% extends 'base.html' %}

{% block title %}
COAC
{% endblock %}

{% block content %}
<div class="standard-spacing">
	<p><a href="https://mycsa.ca/" target="blank">Champlain Student Association (CSA)</a></p>
	<p><a href="https://www.dawsonstudentunion.com/" target="blank">Dawson Student Union (DSU)</a></p>
	<p><a href="http://msucongress.com/" target="blank">Marianopolis Student Union (MSU)</a></p>
	<p><a href="https://www.sujac.com/" target="blank">Student Union of John Abbott College (SUJAC)</a></p>
	<p><a href="https://www.facebook.com/VCSAvanier/" target="blank">Vanier College Student Association (VCSA)</a></p>
		
</div>


{% endblock %}