{% extends 'base.html' %}

{% block title %}
COAC
{% endblock %}

{% block content %}

<div id="home-splash">
	<p style="color:white;font-size: 40px; text-shadow: 2px 2px 20px black;">Welcome to COAC!</p>
	<p style="color:white;">The Coalition of Anglophone Colleges of Montreal</p>
	<a class="btn btn-outline-light" href="/about" >Learn more</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-md home-col">
			<center>About</center>
			<center><i style="margin:3%" class="material-icons md-48">accessibility</i></center>
			<center><a class="btn btn-outline-dark" href="/about">Learn more about us!</a></center>

		</div>
		<div class="col-md home-col">
			<center>Initiatives</center>
			<center><i style="margin:3%" class="material-icons md-48">timeline</i></center>
			<center><a class="btn btn-outline-dark" href="/initiatives">Access our vision!</a></center>

		</div>
		<div class="col-md home-col">
			<center>Events</center>
			<center><i style="margin:3%" class="material-icons md-48">event</i></center>
			<center><a class="btn btn-outline-dark" href="/events">Discover events!</a></center>

		</div>
	</div>
</div>


{% endblock %}