{% extends 'base.html' %}

{% block title %}
COAC
{% endblock %}

{% block content %}
<div class="standard-spacing">

	<div class="card-columns">
		<div class="card">
		  <img class="card-img-top" src="https://images.unsplash.com/photo-1529251333259-d36cccaf22ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="Card image cap">
		  <div class="card-body">
		  	<h5 class="card-title">COAC Speed Dating</h5>
		    <p class="card-text">Write the letter to the person of your dreams with the first COAC Speed Dating Initiative!</p>
		    <a class="btn btn-outline-dark" target="blank" href="/speed_dating_form">Write your letter</a>
		  </div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Sustainability Sharing Platform</h5>
				<p class="card-text">Green is Life is a platform where students from different schools can share strategies on sustainability.</p>
			    <a class="btn btn-outline-dark" target="blank" href="https://life-is-green.herokuapp.com">Add your idea</a>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Intercollegiate Events List</h5>
				<p class="card-text">COAC strives to make cegep events accessible and open between schools.</p>
			    <a class="btn btn-outline-dark" target="blank" href="/events">Find your event</a>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">COAC Climate Plan</h5>
				<p class="card-text">COAC is working to establish guiding principles between its student unions that streamline actions to take to combat the climate crisis.</p>
			    <!-- <a class="btn btn-outline-dark" target="blank" href="/events">Find your event</a> -->
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Student Club Partnerships</h5>
				<p class="card-text">COAC student unions are open to finding clubs between schools with similar missions.</p>
			    <!-- <a class="btn btn-outline-dark" target="blank" href="/events">Find your event</a> -->
			</div>
		</div>


		<div class="card">
			<div class="card-body">
				<h5 class="card-title">COAC Billboard</h5>
				<p class="card-text">The Billboard is a virtual platform where COAC college students can share ideas and form partnerships.</p>
			    <a class="btn btn-outline-dark" target="blank" href="/billboard">Express yourself</a>
			</div>
		</div>



	</div>

</div>


{% endblock %}