{% extends 'base.html' %}

{% block title %}
COAC
{% endblock %}

{% block content %}
<div class="standard-spacing">
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="https://images.unsplash.com/photo-1529251333259-d36cccaf22ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="Card image cap">
	  <div class="card-body">
	  	<h5 class="card-title">COAC Speed Dating</h5>
	    <p class="card-text">Write the letter to the person of your dreams with the first COAC Speed Dating Initiative!</p>
	    <a class="btn btn-outline-dark" href="/speed_dating_form">Write your letter</a>
	  </div>
	</div>
</div>
{% endblock %}